/* Base Style or Utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

/* shared style */
.btn-primary {
  padding: 15px 35px;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  background-color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

/* header style */
#header-style {
  background-color: #fff8f3;
  display: grid;
  grid-template-columns: 1fr 10fr;
}

/* developer image style */
.developer-img img {
  height: 700px;
  padding: 30px 0px 0px 25px;
}

/* navigation menu style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 200px 20px 0px;
}
nav .nav-title a {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  text-decoration: none;
}
nav .nav-title a > span {
  color: #fd6e0a;
}
.nav-menu {
  display: flex;
  gap: 50px;
  align-items: center;
}
.nav-menu li {
  list-style-type: none;
}
.nav-menu a {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #474747;
}

/* banner style */
#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../assets/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* banner content style */
.banner-content {
  max-width: 580px;
}
.banner-content .banner-greeting {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
.banner-content .banner-title {
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 20px;
}
.banner-content .banner-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
.contact-btn {
  padding: 15px 35px;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
  font-weight: 700;
  color: #fd6e0a;
  cursor: pointer;
  margin-left: 20px;
}

/* banner image style */
.banner-img {
  width: 560px;
  padding-right: 25px;
}

/* about me style */
.about-me {
  max-width: 1140px;
  background: #fff8f3;
  margin: 120px auto;
  border-radius: 10px;
  text-align: center;
}
.about-me-title {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
  padding-top: 120px;
}
.about-me-text {
  max-width: 800px;
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  margin: 30px auto;
}
.dev-info-container {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
  margin: 0px auto;
}
.dev-info-title {
  color: #757575;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.dev_info-text {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

/* what i do style */
.what-to-do {
  width: 1140px;
  margin: 0px auto;
}
.what-to-do-title {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}
.what-to-do-text {
  max-width: 800px;
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 30px auto;
}
.skills {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  gap: 15px;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}
.skill-img {
  width: 40px;
}
.skill-title {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0px 20px 0px;
}
.skill-text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

/* my resume style */
.resume-summary {
  width: 1140px;
  margin: 120px auto;
}
.resume-summary-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 80px;
}
.resume-summary > button {
  display: block;
  margin: 0px auto;
}
.edu-exp {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 20px;
}
.edx-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.edu-exp-info {
  margin: 30px 0px 30px 0px;
}
.edu-exp-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
}
.edu-exp-caption {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0px 20px 0px;
}
.edu-exp-text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

/* footer style */
#footer-style {
  background: #fff8f3;
}
.footer-section {
  width: 1140px;
  margin: 0px auto;
  padding: 120px 0px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.footer-common-title {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}
.connect-text {
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.form-name,
.form-email,
.form-textarea {
  border: none;
  padding: 18px 210px 18px 30px;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 20px;
}
