/* Base Style or Utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

/* shared style */
.btn-primary {
  padding: 15px 35px;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  background-color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

/* header style */
#header-style {
  /* width: 1600px; */
  height: 705px;
  background-color: #fff8f3;
  padding: 30px 0px 25px 40px;
  display: grid;
  grid-template-columns: 1fr 10fr;
}
.developer img {
  width: 100px;
  height: 650px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 110px;
}
nav .nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav .nav-title > span {
  color: #fd6e0a;
}
.nav-menu {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-right: 240px;
}
.nav-menu li {
  list-style-type: none;
}
.nav-menu a {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #474747;
}

/* image style */
.banner-img .img-bg {
  width: 780px;
  position: relative;
}
.banner-img .main-img {
  width: 520px;
  position: absolute;
  left: 950px;
  top: 84px;
}

/* banner style */
#banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content .banner-greeting {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 10px;
}
.banner-content .banner-title {
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 10px;
}
.banner-content .banner-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #757575;
  margin-bottom: 10px;
}
.contact-btn {
  padding: 15px 35px;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
  font-weight: 700;
  color: #fd6e0a;
  cursor: pointer;
  margin-left: 20px;
}
